---
import RiveAnimation from './rive-animation.jsx';
---

<section class='bg-gradient-to-t from-brand-black to-brand-pink'>
  <div class='w-full mx-auto max-w-6xl'>
    <RiveAnimation client:load />
    <div class='text-brand-white py-8'>
      <h1 class='text-inherit text-center font-bold m-0'>Lorem Ipsum</h1>
      <p class='text-inherit text-center m-0'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec felis enim, dictum sed pretium vitae, pharetra ac
        orci
      </p>
    </div>
  </div>
</section>
