---
import CockroachLabsLogo from '../components/cockroach-labs-logo.astro';

import '@fontsource/poppins/100.css';
import '@fontsource/poppins/200.css';
import '@fontsource/poppins/300.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/800.css';
import '@fontsource/poppins/900.css';
import '@fontsource/roboto/100.css';
import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css';
import '@fontsource/roboto/900.css';

import '../styles/tailwind.css';

const { title } = Astro.props;
---

<html lang='en'>
  <head>
    <title>{title}</title>
    <meta charset='utf-8' />
    <link rel='icon' type='image/x-icon' href={`${import.meta.env.SITE}/favicon.ico`} />
    <link rel='icon' type='image/png' sizes='16x16' href={`${import.meta.env.SITE}/favicon-16x16.png`} />
    <link rel='icon' type='image/png' sizes='32x32' href={`${import.meta.env.SITE}/favicon-32x32.png`} />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
  </head>
  <body>
    <header class='fixed w-full shadow-lg bg-white z-50'>
      <nav class='w-full mx-auto max-w-6xl'>
        <div class='relative flex py-4'>
          <a href='https://www.cockroachlabs.com/' target='_blank' rel='noreferrer'>
            <CockroachLabsLogo />
          </a>
        </div>
      </nav>
    </header>
    <main class='prose py-14 w-full max-w-none'>
      <slot />
    </main>
    <footer class='w-full'></footer>
  </body>
</html>
